{% extends "layout.html" %}
{% block content %}
<script src="{{ url_for('static', filename='js/plotly-latest.min.js') }}"></script>
    <h3 class="display-3 hidden-xs-down">
    Strategy ""
    </h3>
    <p class="lead hidden-xs-down"> </p>

    <div class="row mb-3">
        <div class="col-xl-3 col-lg-6">
            <div class="card card-inverse card-success">
                <div class="card-block bg-success">
                    <div class="rotate">
                        <i class="fa fa-user fa-5x"></i>
                    </div>
                    <h6 class="text-uppercase">연 수익률</h6>
                    <h1 class="display-3">{{index.0}}</h1>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6">
            <div class="card card-inverse card-danger">
                <div class="card-block bg-danger">
                    <div class="rotate">
                        <i class="fa fa-list fa-4x"></i>
                    </div>
                    <h6 class="text-uppercase">Alpha (Benchmark "")</h6>
                    <h1 class="display-3">{{index.2}}</h1>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6">
            <div class="card card-inverse card-info">
                <div class="card-block bg-info">
                    <div class="rotate">
                        <i class="fa fa-twitter fa-5x"></i>
                    </div>
                    <h6 class="text-uppercase">Sharpe Ratio</h6>
                    <h1 class="display-3">{{index.3}}</h1>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6">
            <div class="card card-inverse card-warning">
                <div class="card-block bg-warning">
                    <div class="rotate">
                        <i class="fa fa-share fa-5x"></i>
                    </div>
                    <h6 class="text-uppercase">Beta</h6>
                    <h1 class="display-3">{{index.1}}</h1>
                </div>
            </div>
        </div>
    </div>
    <!--/row-->

    <hr>
    
    <h3>Broker Graph</h3>
    <div class="row">
        <div class="col">
            <div class="card">
                <div id="asset_graph" style="width:100% height:100vh"></div>
            </div>
        </div>
        <script type="text/javascript">
            var d3 = Plotly.d3;
            var gd3 = d3.select('#asset_graph');
            var gd = gd3.node();

            var broker = {{asset|tojson|safe}};
            var asset = new Object();
            var cash  = new Object();
            
            asset.x = broker.x;
            asset.y = broker.asset;
            asset.fill = 'tonexty';
            asset.type = 'scatter';
            asset.name = 'Asset';

            cash.x  = broker.x;
            cash.y  = broker.cash;
            cash.fill = 'tozeroy';
            cash.type = 'scatter';
            cash.name = 'Cash';

            var holdings = broker.holdings;
            var max_holdings_num = 0;
            holdings.forEach( function(v, i) {
                var keys = Object.keys(v)
                if (keys.length > max_holdings_num) {
                    max_holdings_num = keys.length;
                }
            });

            var layout = {
                margin: {
                    l: 40,
                    r: 20,
                    t: 40,
                    b: 40
                },
                legend: {
                    x: 0,
                    y: 1,
                    bgcolor: '#FFFFFF',
                    bordercolor: '#000000',
                    borderwidth: 1,
                    margin: {l: 10}
                }
            };

            Plotly.plot(gd, [asset, cash], layout);

            window.onresize = function() {
                Plotly.Plots.resize(gd);
            };
        </script>
    </div>

    <hr>
{% endblock %}
