<!doctype html>
<title>Result</title>
<head>
    <script src="{{ url_for('static', filename='js/plotly-latest.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.2.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tether.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>
<body data-gr-c-s-loaded="true">
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Dashboard</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Help</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">Overview <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Reports</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Analytics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Export</a>
            </li>
          </ul>

          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Nav item</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Nav item again</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">One more nav</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Another nav item</a>
            </li>
          </ul>

          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Nav item again</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">One more nav</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Another nav item</a>
            </li>
          </ul>
        </nav>

        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
          <div class=page>
        <h1>Asset Changes</h1>
        <div id="asset_graph" style="width: 960px; height: 400px;"></div>
        <script type="text/javascript">
            var broker = {{asset|tojson|safe}};
            var asset = new Object();
            var cash  = new Object();
            asset.x = broker.x;
            asset.y = broker.asset;
            //asset.type = 'scatter';
            cash.x  = broker.x;
            cash.y  = broker.cash;
            //cash.type  = 'scatter';
            Plotly.plot('asset_graph', [asset, cash]);
        </script>
      {% for instrument in instruments %}
        <div id="instrument_graph_{{ loop.index }}" style="width: 960px; height: 400px;"></div>
        <script type="text/javascript">
            var instrument = {{instrument|tojson|safe}};
            var bar = new Object();
            var buy = new Object();
            var sell = new Object();
            bar.x = instrument.bar_data.x;
            bar.y = instrument.bar_data.price;
            //bar.type = 'scatter';
            bar.mode = 'lines';
            buy.x = instrument.buy.x;
            buy.y = instrument.buy.price;
            //buy.type = 'scatter'
            buy.mode = 'markers';
            sell.x = instrument.sell.x;
            sell.y = instrument.sell.price;
            //sell.type = 'scatter'
            sell.mode = 'markers';
            Plotly.plot('instrument_graph_{{ loop.index }}', [bar, buy, sell]);
        </script>
      {% endfor %}
    </div>
        </main>
      </div>
    </div>
</body>	